<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Today</h1>
    <p>
      <% date = DateTime.now.strftime("%A, %B %d, %Y")%>
      <%= "The date is #{date}"%>
    </p>
  </body>
</html>
